{
"NODE_ENV": "prod",
"SQL:HOST": "",
"SQL:PORT": 3306,
"SQL:USER": "root",
"SQL:PASSWORD": "",
"SQL:DATABASE": "",
"SQL:CONNECTION_POOL_NAME": "mysql",
"SENDGRID_API_KEY":"",
"REDIS:HOST": "",
"REDIS:PORT": 6379,
"REDIS:PASSWORD": ""
}