$primary-color:#EFCA47;

$dark-background-color: #191919;
$dark-background-color2: #060606;
$dark-grey: #303030;
$light-gray: #4C4C4E;

$light-background-color: #F8F9FE;
$light-background-color2: #F0F1F6;
$white-back-ground: #FFFFFF;
$font-color: #060606;
$font-color2: #353536;

$md: 'min-width: 768px';
$lg: 'min-width: 992px';
$xl: 'min-width:1441px';
