
#react-root {
  height: 100%;
}

.spinner {
	// position: absolute;
	//top: 50%;
	//left: 50%;
	//transform: translate(-50%, -50%);
}

.loading {
	height: 100%;
	height: calc(100vh - 140px);
	display: flex;
	align-items: center;
	justify-content: center;
}

.spinner {
	display: inline-block;
	width: 64px;
	height: 64px;
}

.spinner div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 51px;
	height: 51px;
	margin: 5px;
	border: 5px solid #0037ff;
	border-radius: 50%;
	animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #0037ff transparent transparent transparent;
}

.spinner div:nth-child(1) {
	animation-delay: -0.45s;
}

.spinner div:nth-child(2) {
	animation-delay: -0.3s;
}

.spinner div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
