# Distribution Files
dist/
build/
buildClient/
buildServer/

# IDE & Editors
.idea
.vscode
*.iml

# OSX
*.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
*.lnk

# Debug log from npm
npm-debug.log
package-lock.json
node_modules

*.map
*.log

*.awcache

